<!-- <div class="auth-wrap">
  <mat-card class="auth-card">
    <h2 class="title">Create your account</h2>

    <form [formGroup]="form" (ngSubmit)="submit()" autocomplete="off">
      <mat-form-field appearance="outline" class="full">
        <mat-label>Full name</mat-label>
        <input matInput formControlName="fullName" />
        <mat-error *ngIf="form.controls.fullName.invalid && form.controls.fullName.touched">
          Enter your full name
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" />
        <mat-error *ngIf="form.controls.email.invalid && form.controls.email.touched">
          Enter a valid email
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" />
        <mat-error *ngIf="form.controls.password.invalid && form.controls.password.touched">
          Min 6 characters
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full">
        <mat-label>Confirm password</mat-label>
        <input matInput formControlName="confirm" type="password" />
        <mat-error *ngIf="form.hasError('mismatch') && form.controls.confirm.touched">
          Passwords do not match
        </mat-error>
      </mat-form-field>

      <button mat-flat-button color="primary" class="full" [disabled]="loading || form.invalid">
        {{ loading ? 'Creating…' : 'Register' }}
      </button>

      <div class="links">
        <a routerLink="/login">Already have an account? Login</a>
      </div>
    </form>
  </mat-card>
</div> -->
