<h2 *ngIf="userRole === 'Staff' || userRole === 'Admin'">Appointments</h2>
<h2 *ngIf="userRole === 'Doctor'">My Appointments</h2>
<!-- Receptionist View -->
<div *ngIf="mode === 'create'" class="appointment-container">

  <form class="appointment-form" [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
    <!-- Search Patient -->
    <app-patient-autocomplete (patientSelected)="onPatientSelected($event)"></app-patient-autocomplete>

    <!-- Doctor + Department -->
    <div class="row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Doctor</mat-label>
        <mat-select formControlName="doctorId">
          <mat-option *ngFor="let doctor of doctors" [value]="doctor.userId">
            {{ doctor.fullName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Department</mat-label>
        <mat-select formControlName="departmentId">
          <mat-option *ngFor="let dept of departments" [value]="dept.id">
            {{ dept.name }}<span *ngIf="dept.speciality"> ({{ dept.speciality }})</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Date + Time -->
    <div class="row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" [min]="today" formControlName="date">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Time</mat-label>
        <input matInput type="time" formControlName="time">
      </mat-form-field>
    </div>

    <!-- Reason -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Reason for Visit</mat-label>
      <textarea matInput formControlName="reason"></textarea>
    </mat-form-field>

    <!-- Notes -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Notes</mat-label>
      <textarea matInput formControlName="notes"></textarea>
    </mat-form-field>

    <!-- Submit -->
    <button mat-raised-button color="primary" class="submit-btn" [disabled]="!appointmentForm.valid">
      Create Appointment
    </button>
  </form>
</div>

<!-- Doctor View -->
<div *ngIf="mode === 'view' && (userRole === 'Doctor' || userRole === 'Admin' || userRole === 'Staff')"
  class="appointment-container">
  <p *ngIf="appointments?.length === 0">No appointments found.</p>
  <mat-card *ngFor="let appointment of appointments" class="doctor-card"
    [formGroup]="appointmentForms[appointment.id!]">
    <mat-card-title>
      Patient Name: {{ appointment.patientName }}
    </mat-card-title>
    <mat-card-subtitle>
      Booked At: {{ appointment.bookedAt | date:'fullDate' }}<br />
      Scheduled At: {{ appointment.scheduledAt | date:'fullDate' }}
    </mat-card-subtitle>

    <mat-card-content *ngIf="editingId === appointment.id; else viewMode">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option value="scheduled">Scheduled</mat-option>
          <mat-option value="cancelled">Cancelled</mat-option>
          <mat-option value="completed">Completed</mat-option>
          <mat-option value="no_show">No Show</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Diagnosis Dropdown -->
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Diagnosis</mat-label>
        <mat-select formControlName="diagnosis">
          <mat-option *ngFor="let option of diagnosisOptions" [value]="option.value">
            {{ option.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Lifestyle -->
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Lifestyle Changes</mat-label>
        <mat-select formControlName="lifestyle" multiple>
          <mat-option *ngFor="let lifestyle of lifestyleOptions" [value]="lifestyle">
            {{ lifestyle }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Medications -->
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Medications</mat-label>
        <mat-select formControlName="medications" multiple>
          <mat-option *ngFor="let med of medicationOptions" [value]="med">
            {{ med }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Follow-up Days -->
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Follow-up in Days</mat-label>
        <input matInput type="number" formControlName="follow_up_days" />
      </mat-form-field>

      <button mat-raised-button color="primary" class="submit-btn"
        (click)="updateAppointment(appointment, appointmentForms[appointment.id!].value)" type="button">
        Update
      </button>
      <button mat-button color="warn" (click)="cancelEdit()" type="button">Cancel</button>
    </mat-card-content>
    <ng-template #viewMode>
      <button mat-button color="primary" (click)="editAppointment(appointment)">Edit</button>
      <button mat-button color="warn" (click)="deleteAppointment(appointment)">Delete</button>
    </ng-template>
  </mat-card>
</div>