<ng-container *ngIf="isLoggedIn(); else loginPage">
  <mat-sidenav-container class="main-container">
    
    <!-- Left side features -->
    <mat-sidenav #sidenav mode="side" opened class="sidenav">
      <h3 class="p-3">Features</h3>
      <button mat-button routerLink="/createDoctor">Create Doctor</button>
      <button mat-button routerLink="/dashboard">Dashboard</button>
      <button mat-button routerLink="/patients">Patients</button>
      <button mat-button routerLink="/appointments">Appointments</button>
      <button mat-button routerLink="/reports">Reports</button>
      
    </mat-sidenav>

    <!-- Right side content area -->
    <mat-sidenav-content>
      
      <!-- Top bar -->
      <mat-toolbar color="primary" class="toolbar">
        <span class="flex-spacer"></span>
        <span class="username">{{ userName }}</span>
        <button mat-button (click)="logout()">Logout</button>
      </mat-toolbar>

      <!-- Page Content -->
      <div class="content">
        <router-outlet></router-outlet>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>

<ng-template #loginPage>
  <pms-login></pms-login>
</ng-template>
