<div class="form-wrap">
  <mat-card class="form-card">
    <h2 class="title">
      {{ isEdit ? 'Edit Medical History' : 'Add Medical History' }}
    </h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="form-grid">

        <mat-form-field appearance="outline" class="full">
          <mat-label>Code</mat-label>
          <input matInput formControlName="code" />
          @if (form.get('code')?.invalid && form.get('code')?.touched) {
            <mat-error>Code is required</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="full">
          <mat-label>Description</mat-label>
          <input matInput formControlName="description" />
          @if (form.get('description')?.invalid && form.get('description')?.touched) {
            <mat-error>Description is required</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="full">
          <mat-label>Source</mat-label>
          <input matInput formControlName="source" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full">
          <mat-label>Clinic ID</mat-label>
          <input matInput formControlName="clinicId" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full">
          <mat-label>Site ID</mat-label>
          <input matInput formControlName="siteId" />
        </mat-form-field>

        <button
          mat-flat-button
          color="primary"
          class="full"
          type="submit"
          >
          {{ isEdit ? 'Update' : 'Create' }}
        </button>

        <div class="links full">
          <a routerLink="/medicalHistoryList">Back to List</a>
        </div>

      </div>
    </form>
  </mat-card>
</div>
